.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 0.2rem;
}

.header-navbar__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header-navbar__item,
.header-navbar__link {
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 300;
}

.header-navbar__item {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  position: relative;
}

.header-navbar__item--separate {
  position: relative;
}

.header-navbar__item--separate::after {
  content: '';
  position: absolute;
  width: 1px;
  right: -2px;
  top: 0;
  bottom: 0;
  background-color: var(--primary-color);
}

.header-navbar__item--bold {
  font-weight: 500;
}

.header-navbar__item:hover .header-install-app {
  display: block;
}

.header-install-app {
  position: absolute;
  top: calc(100% + 10px);
  left: 8px;
  width: 200px;
  background-color: var(--white-color);
  border-radius: 3px;
  padding: 8px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header-install-app::before {
  content: '';
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
}

.header-install-app__qr {
  width: 100%;
}

.header-install-app__links {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
}

.header-install-app__link {
  
}

.header-install-app__img {
  height: 16px;
}

.header-navbar__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-navbar__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__navbar i {
  font-size: 1.8rem;
  padding: 0 0.4rem;
}


.header-navbar__item--show:hover .header-notify {
  display: block;
}

.header-notify {
  position: absolute;
  top: calc(100% + 8px);
  right: 8px;
  width: 400px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  display: none;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
}

.header-notify::before {
  content: '';
  width: 100%;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
}

.header-notify::after {
  content: '';
  border-style: solid;
  border-width: 18px 24px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -28px;
  right: 8px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.header-notify__header {
  margin: 0;
  padding: 8px 16px;
  font-size: 1.6rem;
  color: #999;
}

.header-notify__list {
  list-style: none;
  padding: 0;
}

.header-notify__item {
  display: flex;
  align-items: start;
  padding: 8px 16px;
  font-size: 1.4rem;
}

.header-notify__item:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.header-notify__item--viewed {
  background-color: rgba(251, 89, 49, 0.1);
}

.header-notify__img {
  width: 60px;
}

.header-notify__content {
  margin-left: 8px;
}

.header-notify__message {
  display: block;
  color: #555;
  font-weight: 400;
  font-size: 1.6rem;
}

.header-notify__desc {
  display: block;
  color: #999;
  margin-top: 8px;
  font-size: 1.4rem;
}

.header-notify__footer {

}

.header-notify__bnt {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  font-style: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}

.header-notify__bnt:hover {
  background-color: #f3f3f3;
}