/* Tablet and Mobile */
@media (max-width: 1023px) {
  .hide-on-tablet-mobile {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .header__cart {
    margin-right: 0;
    margin-left: 32px;
  }

  .header-cart__list {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    width: auto;
  }

  .header-cart__list::after {
    display: none;
  }

  .header-filter__list {
    display: flex;
  }

  .app__container {
    margin-top: calc(64px + 48px);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .header-cart__heading,
  .header-cart__item,
  .header-cart__view-wrap {
    padding-left: calc((100% - 720px) / 2);
    padding-right: calc((100% - 720px) / 2);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .header-with-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__mobile-search {
    display: block;
  }

  .header__logo {
    margin: 0;
    padding: 0;
  }

  .header__cart {
    margin: 0;
  }

  #mobile-search-checkbox:checked ~ .header__search {
    display: flex;
  }

  .header__search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    height: 48px;
    padding: 7px;
    box-shadow: 0 1px 16px #0003;
    animation: mobileSearchSideIn ease-in 0.1s;
    display: none;
  }

  @keyframes mobileSearchSideIn {
    from {
      opacity: 0;
      top: 75%;
    }
    to {
      opacity: 1;
      top: 100%;
    }
  }
}